<%- include('layouts/header') %>

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                    <!-- Row start -->
                    <div class="row no-gutters">

                        <%- include('layouts/user-list') %>

                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9 chat-conversation">
                                <%- include('layouts/conversation') %>
                            </div>

                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9 chat-blank">
                                <!-- <%- include('layouts/conversation') %> -->
                            </div>
                    </div>
                    <!-- Row end -->
                </div>

            </div>

        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

    </div>
    </body>

    <script>
        const userId = "<%= user._id %>"
    </script>
    <script src="/chat.js"></script>

    </html>